# Estudio de emisiones de Dioxido de Carbono

# Estudiante: Eric Ricardo Padilla Mora.

## Objetivo

Cargar un archivo 'Carbon_Dioxide_Emission_Estimates.csv' responder las siguientes preguntas

## Contexto

Se tiene un set de datos contenido en un archivo del tipo csv.

El archivo es 'Carbon_Dioxide_Emission_Estimates.csv'.

A continuación se presenta el paso cero para leer del archivo que contiene 2 tipos de filas según sea el valor en la columna 'Type':

- Emissions_thousand__metric_tons_of_carbon_dioxide
- Emissions_per_capita__metric_tons_of_carbon_dioxide

El valor de las emisiones están en medidas de Toneladas métricas de Dióxido de Carbono

# Pregunta 0

1. Crear un dataframe con el nombre de variable 'df_emisions_co2' usando únicamente las filas cuya columna 'Type' tiene el valor 'Emissions (thousand metric tons of carbon dioxide)'

2. Crear un dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)

# Pregunta 1

Cuántas filas tiene el dataframe 'df_emisions_co2'?

In [276]:
"""Se crea el dataframe con el nombre de variable 'df_emisions_co2' usando únicamente las filas cuya columna 
'Type' tiene el valor 'Emissions (thousand metric tons of carbon dioxide)'"""
# Coloque el código que responda a la pregunta aqui
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']
df_emisions_co2

       Country  Year                                     Type  Value
0      Albania  1975  Emissions (thousand metric tons of c...  4,338
1      Albania  1985  Emissions (thousand metric tons of c...  6,930
2      Albania  1995  Emissions (thousand metric tons of c...  1,849
3      Albania  2005  Emissions (thousand metric tons of c...  3,825
4      Albania  2010  Emissions (thousand metric tons of c...  3,930
...        ...   ...                                      ...    ...
2119  Zimbabwe  2005  Emissions (thousand metric tons of c... 10,273
2120  Zimbabwe  2010  Emissions (thousand metric tons of c...  9,465
2121  Zimbabwe  2015  Emissions (thousand metric tons of c... 11,822
2122  Zimbabwe  2016  Emissions (thousand metric tons of c... 10,369
2123  Zimbabwe  2017  Emissions (thousand metric tons of c...  9,715

[1066 rows x 4 columns]

In [278]:
"""Se crea el dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 
'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)"""
# Coloque el código que responda a la pregunta aqui
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2_percapita = df[df['Type'] == 'Emissions per capita (metric tons of carbon dioxide)']
df_emisions_co2_percapita

       Country  Year                                     Type  Value
8      Albania  1975  Emissions per capita (metric tons of...      2
9      Albania  1985  Emissions per capita (metric tons of...      2
10     Albania  1995  Emissions per capita (metric tons of...      1
11     Albania  2005  Emissions per capita (metric tons of...      1
12     Albania  2010  Emissions per capita (metric tons of...      1
...        ...   ...                                      ...    ...
2127  Zimbabwe  2005  Emissions per capita (metric tons of...      1
2128  Zimbabwe  2010  Emissions per capita (metric tons of...      1
2129  Zimbabwe  2015  Emissions per capita (metric tons of...      1
2130  Zimbabwe  2016  Emissions per capita (metric tons of...      1
2131  Zimbabwe  2017  Emissions per capita (metric tons of...      1

[1066 rows x 4 columns]

# Pregunta 2

Cuál en el valor más alto de emisiones (en general) usando el dataframe 'df_emisions_co2'?

In [282]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
maximo_emisiones_co2 = df_emisions_co2['Value'].max() 

maximo = int(maximo_emisiones_co2)
print('-----------------------------------------------------')
print(f'El valor más alto de emisiones al año (en general) usando el dataframe df_emisions_co2 es de: {maximo} toneladas.')

-----------------------------------------------------
El valor más alto de emisiones al año (en general) usando el dataframe df_emisions_co2 es de: 9257933 toneladas.

# Pregunta 3

Cuántos países (Countries) hay en el dataframe 'df_emisions_co2'?

In [ ]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
# busco en la lista pero sin repetir
total_paises = df_emisions_co2['Country'].nunique() 

print('--------------------------------------------')
print(f"En el dataframe df_emisions_co2 hay un total de {total_paises} países (Estos sin repetir).\n")


# busco en la lista aunque se repitan
total_paises = len(df_emisions_co2['Country']) 

print('--------------------------------------------')
print(f"Pero además, en ese mismo dataframe (df_emisions_co2) hay un total de {total_paises} países (Aquí se está considerando los que se repiten).")

--------------------------------------------
En el dataframe df_emisions_co2 hay un total de 142 países (Estos sin repetir).

--------------------------------------------
Pero además, en ese mismo dataframe (df_emisions_co2) hay un total de 1066 países (Aquí se está considerando los que se repiten).

In [147]:
#Imprima un lista con todos los paises
print('La lista de todos los países sin repetir corresponde a:\n')
print(df_emisions_co2['Country'].unique())

La lista de todos los países sin repetir corresponde a:

['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Benin'
 'Bolivia (Plurin. State of)' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Cambodia' 'Cameroon' 'Canada' 'Chile'
 'China' 'China, Hong Kong SAR' 'Colombia' 'Congo' 'Costa Rica'
 'Côte d’Ivoire' 'Croatia' 'Cuba' 'Curaçao' 'Cyprus' 'Czechia'
 "Dem. People's Rep. Korea" 'Dem. Rep. of the Congo' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Eritrea' 'Estonia'
 'Ethiopia' 'Finland' 'France' 'Gabon' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Guatemala' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Libya' 'Lithuania' 'Luxembourg'
 'Malaysia' 'Malta' 'Mauritius' 'Mexico' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman' 'Pakistan' 'Panama'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'North Macedonia' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United Rep. of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Venezuela (Boliv. Rep. of)' 'Viet Nam' 'Yemen' 'Zambia'
 'Zimbabwe']

# Pregunta 4

Cuál es el país que tiene mayor emisiones usando el dataframe 'df_emisions_co2'?

In [289]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
"""Se crea el dataframe con el nombre de variable 'df_emisions_co2' usando únicamente las filas cuya columna 
'Type' tiene el valor 'Emissions (thousand metric tons of carbon dioxide)'"""
# Coloque el código que responda a la pregunta aqui
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_co2_agrupado = df_emisions_co2.groupby(['Country', 'Year'])['Value'].sum().reset_index()

# Encontrar el país con mayor contaminación en total
mayor_contaminacion_total = df_emisions_co2_agrupado.groupby('Country')['Value'].sum().idxmax()

print('\n---------------------------------------------------------------------------------------')
print(f'El país que tiene mayores emisiones usando el dataframe df_emisions_co2 según la lista corresponde a: {mayor_contaminacion_total}\n')

pais_contaminacion_total = df_emisions_co2_agrupado.loc[df_emisions_co2_agrupado.groupby('Year')['Value'].idxmax()]
print(f'Ahora bien, por año los países que producen mayor contaminación son:\n')
print('------------------------------------------------------------------\n')
print(pais_contaminacion_total)
print('---------------Fin de la lista-------------------------\n')

---------------------------------------------------------------------------------------
El país que tiene mayores emisiones usando el dataframe df_emisions_co2 según la lista corresponde a: China

Ahora bien, por año los países que producen mayor contaminación son:

------------------------------------------------------------------

                       Country  Year     Value
1004  United States of America  1975 4,355,839
1005  United States of America  1985 4,514,313
1006  United States of America  1995 5,073,896
1007  United States of America  2005 5,703,220
177                      China  2010 7,832,717
178                      China  2015 9,101,376
179                      China  2016 9,064,429
180                      China  2017 9,257,934
---------------Fin de la lista-------------------------

# Pregunta 5

Cuál es el año que tiene mayor emisiones para el país de Spain usando el dataframe 'df_emisions_co2'?

In [292]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_spain = df_emisions_co2[df_emisions_co2['Country'] == 'Spain']

maximo_spain = df_emisions_spain['Value'].max()

resultado = df_emisions_spain[df_emisions_spain['Value'] == maximo_spain]

# Obtener el país(s) que corresponde(n) a ese valor
a_spain = resultado['Year'].values[0]

# Imprimir el país
print(f"El año de mayores emisiones en España, usando el dataframe df_emisions_co2, fue el: {a_spain}")

El año de mayores emisiones en España, usando el dataframe df_emisions_co2, fue el: 2005

# Pregunta 6

Cuáles son los años que se tiene registros para el dataframe 'df_emisions_co2_per_capita'?

Entrege una lista con los años sin repetirse

In [294]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se preguntaimport pandas as pd
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2_percapita = df[df['Type'] == 'Emissions per capita (metric tons of carbon dioxide)']

print('La lista de años para los que se tiene registro según el dataframe df_emisions_co2_per_capita corresponde a:\n')
print(df_emisions_co2_percapita['Year'].unique())

La lista de años para los que se tiene registro según el dataframe df_emisions_co2_per_capita corresponde a:

[1975 1985 1995 2005 2010 2015 2016 2017]

# Pregunta 7

Cuántas son las emisiones en 'toneladas métricas' en total usando todos los países para usando el dataframe 'df_emisions_co2'?

In [296]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

suma_total = df_emisions_co2['Value'].sum()
print(f'La suma total de emisiones, en toneladas métricas, usando todos los países de acuedo con el dataframe df_emisions_co2, corresponde a: {suma_total:.3f}.')

La suma total de emisiones, en toneladas métricas, usando todos los países de acuedo con el dataframe df_emisions_co2, corresponde a: 195028250.416.

# Pregunta 8

Cuántas son las emisiones en 'toneladas métricas' sólo para Albania usando el dataframe 'df_emisions_co2'?

In [297]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_co2_albania = df_emisions_co2 [df_emisions_co2 ['Country'] == 'Albania']
df_emisions_co2_albania

albania = df_emisions_co2_albania['Value'].sum()
print(f'Las emisiones en toneladas métricas sólo para Albania usando el dataframe df_emisions_co2, corresponde: {albania:.3f} toneladas')

Las emisiones en toneladas métricas sólo para Albania usando el dataframe df_emisions_co2, corresponde: 32713.283 toneladas

# Pregunta 9

Cuántas son las emisiones en 'libras' sólo para Costa Rica usando el dataframe 'df_emisions_co2'?

In [299]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_co2_costa_rica = df_emisions_co2 [df_emisions_co2 ['Country'] == 'Costa Rica']

costa_rica = df_emisions_co2_costa_rica ['Value'].sum()

libras = costa_rica * 2204.62

print(f'Las emisiones en toneladas métricas sólo para Costa Rica usando el dataframe df_emisions_co2, corresponde:{costa_rica:.3f} toneladas, que equivale a: {libras:.3f} libras.')

Las emisiones en toneladas métricas sólo para Costa Rica usando el dataframe df_emisions_co2, corresponde:42223.107 toneladas, que equivale a: 93085906.154 libras.

# Pregunta 10

Para sólo 'Costa Rica' y suponiendo que las emisiones se estancan a partir del último año reportado. Cuántas son las emisiones en 'Kg' sólo para Costa Rica en el año 2022 usando el dataframe 'df_emisions_co2'?

In [301]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_co2_costa_rica = df_emisions_co2 [df_emisions_co2 ['Country'] == 'Costa Rica']
ultimo_valor = df_emisions_co2_costa_rica['Value'].iloc[-1]
kg = ultimo_valor * 1000
print('Suponiendo que las emisiones se estancan a partir del 2017 que es el último año reportado. Las emisiones en Kg')
print(f'sólo para Costa Rica en el año 2022 usando el dataframe df_emisions_co2 corresponde a: {kg} kilogramos.')

Suponiendo que las emisiones se estancan a partir del 2017 que es el último año reportado. Las emisiones en Kg
sólo para Costa Rica en el año 2022 usando el dataframe df_emisions_co2 corresponde a: 7584411.0 kilogramos.

# Pregunta 12

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones totales en Centroamérica usando el dataframe 'df_emisions_co2'?
Se espera un dataframe de 2 columnas: 'Year' y 'total_por_año'

In [302]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2 = df[df['Type'] == 'Emissions (thousand metric tons of carbon dioxide)']

df_emisions_co2_cam = df_emisions_co2[df_emisions_co2['Country'].isin(['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'])]

reporte_anual_suma = df.groupby('Year')['Value'].sum().reset_index()

# Imprimir el reporte de emisiones totales por año
pd.set_option('display.float_format', '{:,.0f}'.format)
reporte_anual_suma = reporte_anual_suma.rename(columns={'Year': 'Año', 'Value': 'Total de Emisiones_CO2'})
print("\nEl reporte de emisiones totales desde el 1975 hasta 2017 por año en Centro América de la lista de país corresponde a:\n")
print(reporte_anual_suma)

El reporte de emisiones totales desde el 1975 hasta 2017 por año en Centro América de la lista de país corresponde a:

    Año  Total de Emisiones_CO2
0  1975              12,334,023
1  1985              14,417,227
2  1995              20,474,378
3  2005              25,766,805
4  2010              29,117,474
5  2015              30,902,349
6  2016              30,827,961
7  2017              31,193,355

# Pregunta 13

Para sólo los países de Centroamérica ['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'] obtener un reporte por año de las emisiones en promedio en Centroamérica usando el dataframe 'df_emisions_co2_per_capita'?
Se espera un dataframe de 2 columnas: 'Year' y 'promedio_por_año'

In [303]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
"""Se crea el dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 
'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)"""
# Coloque el código que responda a la pregunta aqui
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2_percapita = df[df['Type'] == 'Emissions per capita (metric tons of carbon dioxide)']

df_emisions_co2_cam_perca = df_emisions_co2_percapita[df_emisions_co2_percapita['Country'].isin(['El Salvador', 'Honduras', 'Guatemala', 'Costa Rica', 'Nicaragua'])]

promedio_anual = df.groupby('Year')['Value'].mean().reset_index()

# Mostrar el resultado
pd.set_option('display.float_format', '{:,.0f}'.format)
promedio_anual = promedio_anual.rename(columns={'Year': 'Año', 'Value': 'Promedio de las Emisiones_CO2 en C.A.'})
print("\nEl reporte del promedio de las emisiones, desde el 1975 hasta 2017, en Centro América según la lista de país corresponde a:\n")
print(promedio_anual)

El reporte del promedio de las emisiones, desde el 1975 hasta 2017, en Centro América según la lista de país corresponde a:

    Año  Promedio de las Emisiones_CO2 en C.A.
0  1975                                 55,559
1  1985                                 63,793
2  1995                                 75,273
3  2005                                 92,024
4  2010                                103,991
5  2015                                108,811
6  2016                                108,549
7  2017                                109,836

# Pregunta 14

Cuál es el promedio de las emisiones per capita para el año 2005 usando el dataframe 'df_emisions_co2_per_capita'?

In [307]:
# Coloque el código que responda a la pregunta aqui exactamente lo que se pregunta
"""Se crea el dataframe con el nombre de variable 'df_emisions_co2_per_capita' usando únicamente las filas cuya columna 
'Type' tiene el valor Emissions per capita (metric tons of carbon dioxide)"""
# Coloque el código que responda a la pregunta aqui
import pandas as pd

ruta_archivo_csv ="Carbon_Dioxide_Emission_Estimates.csv"
df = pd.read_csv(ruta_archivo_csv)

df_emisions_co2_percapita = df[df['Type'] == 'Emissions per capita (metric tons of carbon dioxide)']



# Filtrar el DataFrame para el año 2005
df_2005 = df_emisions_co2_percapita[df_emisions_co2_percapita['Year'] == 2005]
df_2005

# Calcular el promedio de las emisiones para el año 2005
promedio_2005 = df_2005['Value'].mean()

# Mostrar el resultado
print(f"\nPromedio de emisiones de CO_2, de todos los países de la lista, para el año 2005 usando el dataframe df_emisions_co2_per_capita corresponde a: {promedio_2005} toneladas.")

Promedio de emisiones de CO_2, de todos los países de la lista, para el año 2005 usando el dataframe df_emisions_co2_per_capita corresponde a: 5.29775 toneladas.